/* MEDIA START */

@media (max-width: 1200px) {
  .about {
    padding: 70px 16px;
  }
  .about__textblock,
  .magazine__textblock {
    padding-left: 61px;
  }
  .promises {
    padding-bottom: 0;
  }
  .categories,
  .guides__inner {
    padding-top: 70px;
  }
  .categories__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    margin-left: 15px;
  }
  .categories__view-button {
    margin-bottom: 50px;
  }
  .guides__textblock {
    text-align: center;
    margin: 0 auto;
  }
  .column-left {
    padding-right: 0;
  }
  .guides__columns {
    flex-direction: column;
    align-items: center;
  }
  .desc-2 {
    padding-bottom: 12px;
  }
  .magazine__inner {
    padding: 70px 0;
  }
  .footer__logo {
    padding: 50px 0;
  }
  .footer {
    height: 470px;
  }
  .footer__text {
    width: 392px;
  }
  .input {
    width: 375px;
  }
  .button {
    left: 75%;
  }
}

@media (max-width: 996px) {
  .header__menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__right {
    flex-direction: row-reverse;
  }
  .header__btn:last-child {
    margin-right: 20px;
  }
  .mainblock,
  .footer {
    height: auto;
  }
  .mainblock__textblock {
    padding: 150px 0;
  }
  .mainblock__bg-element {
    display: none;
  }
  .column {
    margin-left: 15px;
  }
  .footer__text {
    width: 392px;
  }
  .input {
    width: 345px;
  }
  .button {
    left: 67%;
  }
}

@media (max-width: 778px) {
  .mainblock__desc {
    font-size: 16px;
  }
  .about__textblock,
  .magazine__textblock {
    padding-left: 35px;
  }
  .promises,
  .categories {
    padding-top: 60px;
  }
  .item {
    margin-left: 0;
  }
  .column__desc {
    padding: 0px 0 50px;
  }
  .logo {
    margin: 0;
  }
  .footer__nav {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__subscribe {
    padding-top: 50px;
  }
  .footer__bottom {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

@media (max-width: 712px) {
  .mainblock {
    background-position: inherit;
  }
  .textblock {
    width: 100%;
  }
  .column {
    margin-left: 0;
  }
  .column__desc {
    width: 237px;
  }
  .description {
    width: 100%;
  }
  .footer__logo {
    padding: 50px 0 20px;
  }
  .footer__subtitle,
  .footer__subscribe {
    padding-top: 30px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
  }
  .icons {
    padding-bottom: 30px;
  }
}

@media (max-width: 664px) {
  .picture {
    height: 370px;
  }
  .picture__cover {
    bottom: 3.5%;
  }
  .shop {
    height: auto;
  }
  .shop__textblock {
    padding: 70px 16px 80px;
  }
  .magazine__inner {
    flex-direction: column-reverse;
    padding: 70px 0 40px;
  }
  .magazine__textblock {
    flex-basis: 0;
    text-align: center;
    padding: 0 16px 40px;
  }
  .magazine__image {
    padding: 0 80px;
  }
  .footer__logo {
    padding: 30px 0 10px;
  }
  ul {
    width: auto;
  }
  .footer__subtitle {
    padding-right: 105px;
  }
}

@media (max-width: 560px) {
  .header__inner {
    flex-direction: row-reverse;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__right {
    flex-direction: row;
  }
  .header__btn:first-child,
  .btn-name,
  #cover,
  #amount {
    display: none;
  }
  #icon {
    top: 30%;
    left: 30%;
  }
  .header__btn:last-child {
    width: 40px;
    height: 40px;
  }
  .header {
    position: relative;
  }
  .burger {
    position: absolute;
    left: 0;
    margin-left: 20px;
  }
  .header__button {
    position: absolute;
    right: 0;
    padding-left: 0;
  }
  .about {
    padding: 40px 16px;
  }
  .about__content {
    flex-direction: column-reverse;
  }
  .about__textblock {
    flex-basis: 0;
    padding: 0 0 20px;
    text-align: center;
  }
  .about__desc {
    line-height: 19px;
    padding: 8px 48px 20px;
  }
  .subtitle,
  li,
  .input::placeholder,
  .button,
  .footer__text,
  .rights {
    letter-spacing: 1.5px;
  }
  .mainblock__title {
    font-size: 47px;
    line-height: 55px;
  }
  .about__title,
  .promises__title,
  .categories__title,
  .magazine__title,
  .shop__title,
  .guides__title {
    font-size: 35px;
    line-height: 40px;
  }
  .about__desc,
  .textblock__desc,
  .shop__desc,
  .guides__desc,
  .magazine__desc {
    font-size: 15px;
    line-height: 18px;
    padding: 8px 32px 20px;
  }
  .about__image {
    padding: 0 80px;
  }
  .promises__textblock {
    margin: 0 auto 31px;
  }
  .column__title {
    font-size: 18px;
    line-height: 22px;
  }
  .column__desc {
    width: 159px;
    font-size: 13px;
    line-height: 19px;
  }
  .item__title {
    font-size: 26px;
    line-height: 30px;
  }
  .item__desc {
    font-size: 14px;
    line-height: 20px;
  }
  .view-button,
  .item__view-button,
  .shop__button {
    font-size: 14px;
  }
  .picture__cover {
    width: 335px;
  }
  .description {
    font-size: 19px;
    line-height: 23px;
  }
  .magazine__desc {
    padding: 8px 12px 20px;
  }
  .text {
    padding-left: 5px;
    font-size: 10px;
    line-height: 0;
  }
  .footer__subtitle,
  li a,
  #footer__subtitle,
  .footer__text {
    font-size: 13px;
  }
  .rights {
    font-size: 10px;
  }
}

@media (max-width: 430px) {
  .mainblock__textblock {
    text-align: center;
  }
  .column__desc {
    padding: 0px 0 40px;
  }
  .about__image,
  .magazine__image {
    padding: 0;
  }
  .footer__text {
    width: 266px;
  }
  .input {
    width: 260px;
  }
  .button {
    top: 123%;
    left: 0;
    height: 33px;
    background: #e6b939;
  }
  .footer__bottom {
    padding-top: 80px;
  }
  .icons {
    padding-bottom: 15px;
  }
}

@media (max-width: 402px) {
  .column__desc {
    width: 105px;
    padding: 0px 0 20px;
  }
}

@media (max-width: 320px) {
  .mainblock__textblock {
    padding: 80px 0;
  }
  .mainblock__title {
    font-size: 33px;
    line-height: 40px;
  }
  .mainblock__desc {
    font-size: 15px;
    line-height: 23px;
  }
  .about__title,
  .promises__title,
  .categories__title,
  .magazine__title,
  .shop__title,
  .guides__title {
    font-size: 25px;
    line-height: 30px;
  }
  .about__desc,
  .textblock__desc,
  .shop__desc,
  .guides__desc,
  .magazine__desc {
    font-size: 12px;
    line-height: 17px;
    padding: 12px 33px 20px;
  }
  .column__title {
    font-size: 17px;
    line-height: 21px;
  }
  .column__desc {
    font-size: 12px;
  }
  .item__textblock {
    padding-top: 25px;
  }
  .item__title {
    font-size: 24px;
  }
  .item__desc {
    font-size: 13px;
    line-height: 19px;
  }
  .picture__cover {
    width: 301px;
    padding: 12px 10px 0;
    height: 40px;
    right: 3%;
  }
  .text {
    font-size: 9px;
  }
  .description {
    font-size: 15px;
  }
  .footer__subtitle,
  li a,
  #footer__subtitle,
  .footer__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 280px) {
  .item__textblock {
    padding-top: 15px;
  }
  .item__title {
    font-size: 24px;
  }
  .item__desc {
    font-size: 13px;
  }
  .picture__cover {
    width: 264px;
    padding: 12px 0px 0;
  }
  .footer__text {
    width: 265px;
  }
  .input {
    width: 250px;
  }
}

/* MEDIA END */
