@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #575445;
  line-height: 19px;
  list-style-type: none;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

/* HEADER START */

.header,
.about,
.categories {
  background: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17.5px 0;
}
.header__logo {
  display: block;
  background-image: url(../img/header/logo.svg);
  background-repeat: no-repeat;
  width: 128px;
  height: 39px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu a,
.burger,
.header__btn,
.item,
.view-button,
.shop__button,
.guides__image,
li a,
.button,
.icon {
  transition: 0.2s ease;
}
.header__menu a {
  color: #444;
  padding-left: 30.5px;
}
.header__menu a,
.date {
  font-size: 13px;
}
.header__menu a:hover,
.burger:hover,
.item:hover,
.header__btn:hover,
.shop__button:hover,
.magazine__button:hover,
.guides__image:hover,
.guides__button:hover,
.button:hover,
.icon:hover,
li a:hover {
  transition: 0.2s ease;
}
.header__menu a:hover {
  color: rgb(186, 184, 184);
}
.burger,
.header__btn:hover,
.view-button:hover,
.item:hover,
.shop__button:hover,
.magazine__button:hover,
.guides__image:hover,
.guides__button:hover,
.button:hover,
.icon:hover {
  cursor: pointer;
}
.burger {
  display: none;
  background: url(../img/header/burger.svg);
  background-repeat: no-repeat;
  width: 29px;
  height: 21px;
}
.burger:hover {
  background: url(../img/header/burger-hover.svg);
}
.header__button {
  display: flex;
  padding-left: 40px;
}
.header__btn {
  background: #575445;
  border-radius: 6px;
  height: 44px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
.btn-name {
  color: #fff;
}
.header__btn:first-child {
  width: 141px;
}
.header__btn:last-child {
  width: 126px;
  margin-left: 20px;
}
.header__btn:hover,
.button:hover {
  background: #75715d;
}
#icon,
#text,
#cover,
#amount {
  position: absolute;
}
#icon {
  top: 13px;
  left: 19px;
}
#text {
  left: 34.4%;
  right: 35.8%;
  top: calc(50% - 18px / 2 - 0.5px);
  color: #fff;
}
#cover {
  width: 20px;
  height: 18px;
  right: 18px;
  top: 13px;
  background: #ffffff;
  border-radius: 9px;
}
#amount {
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 11px;
  line-height: 18px;
}

/* HEADER END */

/* SECTION MAINBLOCK START */

.mainblock {
  background: url(../img/mainblock/bg-mainblock.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 640px;
  position: relative;
}
.mainblock__content {
  display: flex;
}
.mainblock__textblock {
  flex-basis: 501px;
  padding: 215.5px 0 0;
}
.subtitle,
li,
.input::placeholder,
.button,
.footer__text,
.rights {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #e6b939;
}
.mainblock__title {
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.title {
  font-family: "Roboto";
}
.mainblock__desc {
  font-size: 17px;
  line-height: 25px;
  color: #caccd1;
  padding-top: 11px;
}
.mainblock__bg-element {
  position: absolute;
  top: 95.8%;
  left: 40.7%;
}
.bg-element {
  width: 100%;
}

/* SECTION MAINBLOCK END */

/* SECTION ABOUT START */

.about {
  padding: 100px 16px;
}
.about__content {
  display: flex;
  align-items: center;
}
.about__image img {
  width: 100%;
}
.about__textblock {
  flex-basis: 487px;
  padding-left: 104.5px;
}
.about__title,
.promises__title,
.categories__title,
.magazine__title,
.shop__title,
.guides__title {
  font-size: 36px;
  line-height: 43px;
}
.about__desc {
  line-height: 19px;
  padding: 8px 0 20px;
}
.about__view-button:hover,
.categories__view-button:hover,
.guides__button:hover,
.magazine__button:hover {
  transform: scale(1.02);
}
.view-button,
.item__view-button,
.shop__button {
  background: transparent;
  font-size: 15px;
}

/* SECTION ABOUT END */

/* SECTION PROMISE START */

.promises,
.categories {
  padding-top: 99px;
}
.promises {
  background: #fafafc;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: calc(159px - 110px);
  position: relative;
}
.promises__textblock {
  width: 538px;
  text-align: center;
  margin: 0 auto 71px;
}
.textblock__desc {
  padding-top: 7px;
}
.promises__columns {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.column {
  margin: 0 auto;
  flex: 30%;
}
.column__cover {
  position: relative;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #575445;
  border-radius: 32px;
}
.column__icon {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.column__title {
  margin: 10px 0 9px;
  font-size: 20px;
  line-height: 24px;
}
.column__desc {
  padding: 0 0 110px;
  margin: 0 auto;
  width: 287px;
  font-size: 14px;
  line-height: 20px;
}

/* SECTION PROMISE END */

/* SECTION CATEGORIES START */

.categories__textblock {
  width: 538px;
  text-align: center;
  margin: 0 auto 21px;
}
.categories__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.item:hover {
  transform: scale(1.02);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.item__image {
  max-width: 379px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.item__textblock {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 39px;
  text-align: center;
}
.item__title {
  font-size: 28px;
  line-height: 34px;
}
.item__desc {
  padding: 10px 0 20px;
  margin: 0 auto;
  width: 252px;
  line-height: 22px;
}
.categories__bottom {
  display: block;
  text-align: center;
}
.categories__view-button {
  margin: 8px 0 99.66px;
}

/* SECTION CATEGORIES END */

/* SECTION PICTURE START */

.picture {
  background: url(../img/picture/bg-picture.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
.picture__cover {
  position: absolute;
  padding: 15px 21px 22px;
  width: 445px;
  height: 48px;
  right: 2.7%;
  bottom: 6.5%;
  background: #292c32;
  border-radius: 16px;
}
.picture__info {
  display: flex;
  justify-content: space-around;
}
.element {
  display: flex;
  align-items: center;
}
.text {
  padding-left: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

/* SECTION PICTURE END */

/* SECTION SHOP START */

.shop {
  background: #375c58;
  background-image: url(../img/shop/bg-element.png);
  width: 100%;
  height: 393px;
}
.shop__textblock {
  width: 538px;
  text-align: center;
  padding: 99px 16px 100px;
  margin: 0 auto;
}
.shop__subtitle,
.shop__desc {
  color: #fafafc;
}
.shop__title,
.guides__title {
  padding-bottom: 9px;
  color: #e6b939;
}
.shop__desc {
  padding-bottom: 21px;
}
.shop__button {
  width: 111px;
  height: 44px;
  background: #ffffff;
  border-radius: 6px;
}
.shop__button:hover {
  background: #c8c8c8;
  color: #fff;
}

/* SECTION SHOP END */

/* SECTION GUIDES START */

.guides__inner {
  /* height: 100%; */
  padding: 97.66px 0 0;
  overflow: hidden;
}
.guides__textblock {
  width: 538px;
  text-align: left;
  margin: 0;
}
.guides__title {
  color: #575445;
}
.guides__columns {
  display: flex;
  align-items: baseline;
}
.column-left {
  padding-right: 32px;
}
.guides__image {
  width: 100%;
  margin-top: 21px;
  border-radius: 20px;
}
.guides__image:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
.description {
  padding: 15px 0 12px;
  width: 465px;
  font-size: 20px;
  line-height: 24px;
}
.guides__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guides__content {
  display: flex;
  align-items: center;
}
.guides__name {
  padding-left: 12px;
  font-size: 13px;
  line-height: 18px;
}
.guides__span {
  font-size: 11px;
  line-height: 15px;
  color: #e6b939;
}
.desc-2 {
  padding-bottom: 36px;
}
.date {
  line-height: 18px;
  color: #6f7278;
}
.guides__bottom {
  padding-top: 28px;
  text-align: center;
}

/* SECTION GUIDES END */

/* SECTION MAGAZINE START */

.magazine__inner {
  padding: 197px 0 100px;
  display: flex;
  align-items: center;
}
.magazine__image {
  position: relative;
}
.magazine__image img {
  width: 100%;
}
.magazine__textblock {
  flex-basis: 487px;
  padding-left: 104px;
}
.magazine__desc {
  padding: 7px 0 20px;
}

/* SECTION MAGAZINE END */

/* FOOTER START */

.footer {
  background: #575445;
  height: 567px;
  /* position: relative; */
}
.footer__logo {
  padding: 97px 0 76px;
}
.logo {
  display: block;
  background-image: url(../img/footer/logo.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: 48px;
  margin: 0 auto;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
ul {
  width: 220px;
}
li {
  padding-bottom: 9px;
}
li a,
.button,
.footer__text,
.rights {
  color: #fff;
  letter-spacing: normal;
}
li a:hover {
  color: rgb(186, 186, 186);
}
.footer__text {
  width: 434px;
}
.form {
  position: relative;
  padding-top: 9px;
}
.input {
  width: 465px;
  height: 53px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
  text-indent: 1.5em;
}
.input::placeholder {
  color: #575445;
  letter-spacing: normal;
}
.button {
  position: absolute;
  top: 25%;
  left: 83%;
  width: 73px;
  height: 39px;
  background: #575445;
  color: #fff;
  border-radius: 10px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.icon {
  padding-left: 16px;
}
.icon:hover {
  transform: scale(1.1);
}

/* FOOTER END */
